<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Selected Employee Details</title>
</head>
<body>
<div align="center">
<h1>Selected Employee Details</h1>
<br />
<table cellpadding="10">
<thead>
<tr>
<th>User Name</th>
<th>Job Title</th>
<th>Salary</th>
<th>Location</th>
<th>Email</th>
</tr>
</thead>
<tbody>
<tr th:each="employee : ${employee}">
<td th:text="${employee.userName}"></td>
<td th:text="${employee.title}"></td>
<td th:text="${employee.salary}"></td>
<td th:text="${employee.location}"></td>
<td th:text="${employee.email}"></td>
</tr>
</tbody>
</table>
<br/><br/>
<a th:href="@{'/employee/listEmployees'}">Go back to list
employees?</a>
</div>
</body>
</html>